@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-zinc-900 text-zinc-100;
    -webkit-font-smoothing: antialiased;
  }

  body,
  input,
  textarea,
  button {
    @apply font-roboto font-normal;
  }
}

/* Componentes personalizados reutilizáveis */
@layer components {
  .btn-primary {
    @apply bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-300 transition-colors;
  }

  .container-default {
    @apply w-full max-w-7xl mx-auto px-6;
  }
}

/* Utilitários personalizados */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-500 rounded-full;
}